@model SchoolManagement.Models.Entity.ExamMark

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ExamMark</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Course.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Student.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Theory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Theory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mcq)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mcq)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Practical)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Practical)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
