@model SchoolManagement.Models.ViewModels.EmployeeVM

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
        <div id="divToPrint">
                <div class="header">
                    <h2>
                        Employee Info
                    </h2>
                </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-2">
                            <div class="text-center">
                                @if (Model.Image != null)
                                {
                                    var base64 = Convert.ToBase64String(Model.Image);
                                    var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                                    <img height="150" class="thumbnail inline no-margin-bottom" alt="Domain Owner's Avatar" src='@imgSrc' />
                                }
                                else
                                {
                                    <img class="col-lg-offset-3" src="~/Content/images/person.png" style="max-width: 150px; max-height: 150px;" />
                                }

                                <br />
                                <div class="width-80 label label-info label-xlg arrowed-in arrowed-in-right">
                                    <div class="inline position-relative">
                                        <a class="user-title-label" href="#">
                                            <i class="ace-icon fa fa-circle light-green"></i>
                                            &nbsp;
                                            <span class="white">@Model.Name</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-7">
                            <div class="space visible-xs"></div>

                            <div class="profile-user-info profile-user-info-striped">
                                <div class="profile-info-row">
                                    <div class="profile-info-name"> Username </div>

                                    <div class="profile-info-value">
                                        <span>@Model.UserName</span>
                                    </div>
                                </div>
                                <div class="profile-info-row">
                                    <div class="profile-info-name"> Father Name </div>

                                    <div class="profile-info-value">
                                        <span>@Model.FatherName</span>
                                    </div>
                                </div>
                                <div class="profile-info-row">
                                    <div class="profile-info-name"> Mother Name </div>

                                    <div class="profile-info-value">
                                        <span>@Model.MotherName</span>
                                    </div>
                                </div>
                                <div class="profile-info-row">
                                    <div class="profile-info-name"> Date of Birth </div>

                                    <div class="profile-info-value">
                                        <span>@Model.DOB</span>
                                    </div>
                                </div>
                                <div class="profile-info-row">
                                    <div class="profile-info-name"> Gender </div>

                                    <div class="profile-info-value">
                                        <span>@Model.Gender</span>
                                    </div>
                                </div>
                                <div class="profile-info-row">
                                    <div class="profile-info-name"> Marital Status </div>

                                    <div class="profile-info-value">
                                        <span>@Model.MaritalStatus</span>
                                    </div>
                                </div>
                                <div class="profile-info-row">
                                    <div class="profile-info-name"> Religion </div>

                                    <div class="profile-info-value">
                                        <span>@Model.Religion</span>
                                    </div>
                                </div>
                                <div class="profile-info-row">
                                    <div class="profile-info-name"> Nationality </div>

                                    <div class="profile-info-value">
                                        <span>@Model.Nationality</span>
                                    </div>
                                </div>
                                <div class="profile-info-row">
                                    <div class="profile-info-name"> National ID No </div>

                                    <div class="profile-info-value">
                                        <span>@Model.NID</span>
                                    </div>
                                </div>
                                <div class="profile-info-row">
                                    <div class="profile-info-name"> Present Address </div>

                                    <div class="profile-info-value">
                                        <i class="fa fa-map-marker light-orange bigger-110"></i>
                                        <span>@Model.PresentAddress</span>
                                    </div>
                                </div>
                                <div class="profile-info-row">
                                    <div class="profile-info-name"> Permanent Address </div>

                                    <div class="profile-info-value">
                                        <i class="fa fa-map-marker light-orange bigger-110"></i>
                                        <span>@Model.PermanentAddress</span>
                                    </div>
                                </div>
                                <div class="profile-info-row">
                                    <div class="profile-info-name"> Age </div>

                                    <div class="profile-info-value">
                                        <span>38</span>
                                    </div>
                                </div>

                                <div class="profile-info-row">
                                    <div class="profile-info-name">Email</div>

                                    <div class="profile-info-value">
                                        <span>@Model.Email</span>
                                    </div>
                                </div>

                                <div class="profile-info-row">
                                    <div class="profile-info-name">Phone </div>

                                    <div class="profile-info-value">
                                        <span>@Model.Phone</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Education History</h3>
                        </div>
                        <div class="panel-body">

                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Education Level</th>
                                        <th>Exam Title</th>
                                        <th>Major</th>
                                        <th>Institute Name</th>
                                        <th>Result Type</th>
                                        <th>Result</th>
                                        <th>PassingYear</th>
                                        <th>Duration</th>
                                        <th>Achievement</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.EmployeeEducation != null)
                                {
                                    foreach (var item in Model.EmployeeEducation)
                                    {
                                    <tr>
                                        <td>@item.EducationLevel.EducationLevelNaame</td>
                                        <td>@item.ExamTitle.TitleName</td>
                                        <td>@item.Major</td>
                                        <td>@item.InstituteName</td>
                                        <td>@item.ResultType</td>
                                        <td>@item.CGPA on a Scale of @item.Scale</td>
                                        <td>@item.PassingYear</td>
                                        <td>@item.Duration</td>
                                        <td>@item.Achievement</td>
                                    </tr>
                                    }
                                }

                                </tbody>
                            </table>

                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Employment History</h3>
                        </div>
                        <div class="panel-body">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Company Name</th>
                                        <th>Company Location</th>
                                        <th>Designation</th>
                                        <th>From</th>
                                        <th>To</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.EmployeeEducation != null)
                                {
                                    foreach (var item in Model.EmploymentHistory)
                                    {
                                    <tr>
                                        <td>@item.CompanyName</td>
                                        <td>@item.CompanyLocation</td>
                                        <td>@item.Designation</td>
                                        <td>@item.From</td>
                                        <td>@item.To</td>
                                    </tr>
                                    }
                                }

                                </tbody>
                            </table>


                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Current Job Information</h3>
                        </div>
                        <div class="panel-body">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Designation</th>
                                        <th>Date of Join</th>
                                        <th>Salary</th>
                                        <th>Total Leave</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.JobInfo != null)
                                {
                                    foreach (var item in Model.JobInfo)
                                    {
                                    <tr>
                                        <td>@item.DesignationId</td>
                                        <td>@item.DOJ</td>
                                        <td>@item.Salary</td>
                                        <td>@item.TotalLeave</td>
                                    </tr>
                                    }
                                }

                                </tbody>
                            </table>

                        </div>
                    </div>
        </div>
<button aria-expanded="false" data-toggle="tab" onclick="printDiv('divToPrint')" class="btn-new-mail no-border">
    <span class="btn btn-purple no-border">
        <i class="ace-icon fa fa-print bigger-130"></i>
        <span class="bigger-110">Print Employee Details</span>
    </span>
</button>
@section Scripts {

   <script type="text/javascript">


       function printDiv(divName) {
           var printContents = document.getElementById(divName).innerHTML;
           var originalContents = document.body.innerHTML;

           document.body.innerHTML = printContents;

           window.print();

           document.body.innerHTML = originalContents;
       }

</script>



}










